extends layout
<<<<<<< HEAD
  block content
    h1 Your Cart
 
    if !cart || cart.length === 0
      p Your cart is empty.
    else
      table
=======
block content
  h1 Your Cart
 
  if !cart || cart.length === 0
    p Your cart is empty.
  else
    table
      tr
        th Item
        th Quantity
        th Price
        th Subtotal
      each item in cart
>>>>>>> 87c5ca6d08abbaa4672dca3de586d61a558e9b84
        tr
          th Item
          th Quantity
          th Price
          th Subtotal
        each item in cart
          tr
            td= item.name
            td= item.quantity
            td Rs #{item.price}
            td Rs #{item.price * item.quantity}

      h3 Total: Rs #{cart.reduce((total, item) => total + (item.price * item.quantity), 0)}

      form(action="/checkout", method="POST")
        button(type="submit") Proceed to Checkout
