extends layout
//- link(rel="stylesheet", href="/stylesheets/menu.css")
block content
  .menu-page
    header
      h1 Our Menu
      .category-header
        .category-boxes
          each category in menuCategories
            .category-box(data-category=category.name)= category.name
      .hamburger
        span
        span
        span
      nav.menu-nav
        ul
          each category in menuCategories
            li
              a(href=`#${category.name}`) #{category.name}

  .menu-container
    each category in menuCategories
      h2.category-title(id=category.name)= category.name
      .row
        each item in category.items
          .col-md-4
            .card.mb-4
              img.card-img-top(src=`/images/${item.image}`, alt=item.name)
              .card-body
                h5.card-title= item.name
                p.card-text= item.description
                .price-review
                  .price Rs #{item.price}

                // Display reviews for each menu item
                if item.reviews && item.reviews.length > 0
                  .reviews-section
                    h6 Reviews:
                    ul.reviews-list
                      each review in item.reviews
                        li
                          strong #{review.user} rated: #{review.rating} / 5
                          if review.comment
                            p.comment= review.comment
                          small.date= new Date(review.date).toLocaleDateString()
                else
                  p No reviews available.

                
               form.add-to-cart-form(action="/cart/add", method="POST")
                 input(type="hidden", name="itemId", value=item._id)  // Sends item ID
                 button(type="submit") Add to Cart

  footer
    p © 2024 Restro

   script(src='/javascripts/app.js')
